# Convert coco format to Visual Layer object format

In [9]:
coco_string = """
{  
        "images": [  
            {  
                "id": 1,  
                "width": 640,  
                "height": 480,  
                "file_name": "image1.jpg"  
            },  
            {  
                "id": 2,  
                "width": 800,  
                "height": 600,  
                "file_name": "image2.jpg"  
            }  
        ],  
        "categories": [  
            {  
                "id": 1,  
                "name": "cat"  
            },  
            {  
                "id": 2,  
                "name": "dog"  
            },  
            {  
                "id": 3,  
                "name": "t-rex"  
            }  
        ],  
        "annotations": [  
            {  
                "id": 1,  
                "image_id": 1,  
                "category_id": 1,  
                "bbox": [100, 100, 200, 200]  
            },  
            {  
                "id": 2,  
                "image_id": 2,  
                "category_id": 2,  
                "bbox": [50, 50, 150, 150]  
            },  
            {  
                "id": 3,  
                "image_id": 1,  
                "category_id": 3  
            },  
            {  
                "id": 4,  
                "image_id": 2,  
                "category_id": 3  
            }  
        ]  
}"""

In [10]:
import json
import pandas as pd
import json



def convert_coco_to_csv(coco_string, output_csv_path):
    # Load COCO JSON
    coco_data = json.loads(coco_string)
    
    # Create category mapping
    category_map = {category['id']: category['name'] for category in coco_data['categories']}
    
    # Create image mapping
    image_map = {image['id']: image['file_name'] for image in coco_data['images']}
    
    # Prepare rows for CSV
    csv_data = []
    for annotation in coco_data['annotations']:
        image_id = annotation['image_id']
        category_id = annotation['category_id']
        file_name = image_map[image_id]
        label = category_map[category_id]
        
        if 'bbox' in annotation:  # Object annotation with bbox
            row_x, col_y, width, height = annotation['bbox']
        else:  # Image-level annotation
            row_x, col_y, width, height = None, None, None, None
        
        csv_data.append([file_name, row_x, col_y, width, height, label])
    
    # Convert to DataFrame
    df = pd.DataFrame(csv_data, columns=['filename', 'row_x', 'col_y', 'width', 'height', 'label'])
    
    # Save as CSV
    df.to_csv(output_csv_path, index=False)
    print(f"CSV file saved to {output_csv_path}")
    return df
    
# Example usage
df = convert_coco_to_csv(coco_string, 'object_annotations.csv')

CSV file saved to object_annotations.csv

In [11]:
df

     filename  row_x  col_y  width  height  label
0  image1.jpg  100.0  100.0  200.0   200.0    cat
1  image2.jpg   50.0   50.0  150.0   150.0    dog
2  image1.jpg    NaN    NaN    NaN     NaN  t-rex
3  image2.jpg    NaN    NaN    NaN     NaN  t-rex